= form_for @recipe, html: {class: 'ui form grid container'} do |f|
  - if @recipe.errors.any?
    #error-explanation
      %h2
        = pluralize(@recipe.errors.count, 'error')
        prohibited this recipe from being saved:
      %ul
        - @recipe.errors.full_messages.each do |message|
          %li= message

  .field.title
    = f.label :title
    .control
      = f.text_field :title, id: :recipe_title, class: 'input'

  .field.instructions
    = f.label :instructions
    .control
      = f.text_area :instructions, id: :recipe_instructions, class: 'input'


  = f.fields_for :ingredientLists do |il|
    = il.fields_for :ingredient do |i|
      .field.ingredient-name
        = i.label :name
        .control
          = i.text_field :name, id: "name-#{il.index}", class: 'input'
      .field.product-name
        = i.label :product
        .control
          .select
            = i.collection_select(:product_id, Product.all, :id, :name, {},
                                    id: "product-name-#{il.index}")

        .field.amount-unit
          .columns
            .column
              .field.amount-unit
                = il.label :amount
                .control
                  = il.text_field :amount, id: "amount-#{il.index}", class: 'input'

            .column
              .field.amount-unit
                = il.label :unit
                .control
                  = il.text_field :unit, id: "unit-#{il.index}", class: 'input'

  .actions
    = f.submit class: 'button is-link'
