= form_with model: recipe, local: true do |form|
  - if recipe.errors.any?
    #error_explanation
      %h2
        = pluralize(recipe.errors.count, "error")
        prohibited this recipe from being saved:
      %ul
        - recipe.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title
    = form.text_field :title, id: :recipe_title
  .field
    = form.label :instructions
    = form.text_area :instructions, id: :recipe_instructions

  = form.fields_for :ingredients do |ingredients_fields|
    .field
      = ingredients_fields.label :name
      = ingredients_fields.text_field :name, id: :name
    .field
      = ingredients_fields.label :amount
      = ingredients_fields.text_field :amount, id: :amount
    .field
      = ingredients_fields.label :unit
      = ingredients_fields.text_field :unit, id: :unit
  .actions
    = form.submit
