= form_for @recipe do |f|
  - if @recipe.errors.any?
    #error-explanation
      %h2
        = pluralize(@recipe.errors.count, 'error')
        prohibited this recipe from being saved:
      %ul
        - @recipe.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title, id: :recipe_title

  .field
    = f.label :instructions
    = f.text_area :instructions, id: :recipe_instructions

  = f.fields_for :ingredientLists do |il|
    = il.fields_for :ingredient do |i|
      .field
        = i.label :name
        = i.text_field :name, id: "name-#{il.index}"
      .field
        = i.label :product_name
        = i.collection_select(:product_id, Product.all, :id, :name, {},
                                id: "product-name-#{il.index}")
    .field
      = il.label :amount
      = il.text_field :amount, id: "amount-#{il.index}"

    .field
      = il.label :unit
      = il.text_field :unit, id: "unit-#{il.index}"

  .actions
    = f.submit
