.container
  %%h1 Recipes
  .columns.is-centered.is-multiline.has-text-justified.has-text-left
    - @recipes.each do |recipe|
      .column.is-4.title
        = link_to recipe.title.to_s, recipe
      .column.is-4.instructions
        = recipe.instructions
      .column.is-4.actions
        = link_to 'Edit', edit_recipe_path(recipe)
        |
        = link_to 'Delete',
          recipe,
          method: :delete,
          data: { confirm: 'Are you sure?' }
  = link_to 'New Recipe', new_recipe_path
