.ui.grid.container
  %%h1 Recipes

  .three.column.row
    - @recipes.each do |recipe|
      .three.wide.column.title
        = link_to recipe.title.to_s, recipe
      .ten.wide.column.instructions
        = recipe.instructions
      .three.wide.column.actions
        .ui.two.column.divided.grid
          .center.aligned.column
            = link_to 'Edit', edit_recipe_path(recipe)
          .center.aligned.column
            = link_to 'Delete',
              recipe,
              method: :delete,
              data: { confirm: 'Are you sure?' }
  = link_to 'New Recipe', new_recipe_path
