.container
  .title
    %h1
      = @recipe.title
  .instructions
    %h2 Instructions
    = @recipe.instructions
  .ingredients
    %h2 Ingredients
    %ul
      - @recipe.ingredientLists.each do |ils|
        %li
          = ils.ingredient.name
          = ils.amount
          = ils.unit

  .columns
    .column.is-1
      = link_to 'Edit', edit_recipe_path(@recipe)
    .column.is-1
      = link_to 'Delete',
            @recipe,
            method: :delete,
            data: { confirm: 'Are you sure?' }

