%p
  %strong Title:
  = @recipe.title
%p
  %strong Instructions:
  = @recipe.instructions
%p
  %strong Ingredients:
  - @recipe.ingredientLists.each do |ils|
    = ils.ingredient.name
    = ils.amount
    = ils.unit
= link_to 'Edit', edit_recipe_path(@recipe)
\|
= link_to 'Delete', recipe_path(@recipe), method: :delete
|
= link_to 'Back', recipes_path
