%p#notice= notice
%p
  %strong Title:
  = @recipe.title
%p
  %strong Instructions:
  = @recipe.instructions
%p
  %strong Ingredients:
  - @recipe.ingredients.each do |ingredient|
    = ingredient.name
    = ingredient.amount
    = ingredient.unit
= link_to 'Edit', edit_recipe_path(@recipe)
|
= link_to 'Back', recipes_path
