.ui.grid.container
  .row.title
    %h1
      = @recipe.title
  .row.instructions
    = @recipe.instructions
  .row.ingredients
    .ui.bulleted.list
      - @recipe.ingredientLists.each do |ils|
        .item
          = ils.ingredient.name
          = ils.amount
          = ils.unit

  .row.actions
    .ui.two.column.divided.grid
      .row
        .two.wide.center.aligned.column
          = link_to 'Edit', edit_recipe_path(@recipe)
        .two.wide.center.aligned.column
          = link_to 'Delete',
            @recipe,
            method: :delete,
            data: { confirm: 'Are you sure?' }
