%h1 Listing meals

%table
  %thead
    %tr
      %th Name
      %th Portions
      %th Price per portion
      %th
      %th
      %th

  %tbody
    - @meals.each do |meal|
      %tr
        %td= link_to meal.name.to_s, meal
        %td= meal.portions
        %td= meal.price_per_portion
        %td= link_to 'Edit', edit_meal_path(meal)
        %td= link_to 'Delete', meal, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Meal', new_meal_path
