= form_for sl do |f|
  - if sl.errors.any?
    #error-explanation
      %h2= "#{pluralize(sl.errors.count, "error")} prohibited this shopping list from being saved:"
      %ul
        - sl.errors.full_messages.each do |message|
          %li= message

  .columns.level
    .column.level-item.field.control
      = f.text_field :name, class: 'input', placeholder: 'Shopping list name'
    .column.level-item.field
      .control
        = f.submit "Update Shopping List Name", class: 'button is-link'
