-if !sl.shopping_list_items.empty?
  = "Name is #{sl.name}"
  %p.panel-heading
    Shopping List
  - sl.shopping_list_items.each do |sli|
    %label.panel-block
      = render 'shopping_list_items', sli: sli
  = "Shopping list created #{sl.created_at}"
  = form_for sl do |f|
    - if sl.errors.any?
      #error-explanation
        %h2= "#{pluralize(sl.errors.count, "error")} prohibited this shopping list from being saved:"
        %ul
          - sl.errors.full_messages.each do |message|
            %li= message

    .columns.level
      .column.level-item.field.control.is-four-fifths
        = f.text_field :name, class: 'input', placeholder: 'Shopping list name', value: sl.name
      .column.level-item.field
        .control
          = f.submit class: 'button is-link'