.container
  .columns
    .column.is-three-fifths.section
      .panel
        %p.panel-heading
          Shopping List
        - @shopping_lists.each do |sl|
          - sl.shopping_list_items.each do |sli|
            %label.panel-block
              %input{:type => "checkbox"}
                = sli.name
                = sli.amount
                = sli.unit
          = "Shopping list created #{sl.created_at}"
    .column.section
      .tile.is-ancestor
      - @shopping_lists.all.each do |sl|
        - sl.meals.uniq.each do |m|
          .tile.is-parent
            .tile.is-child.is-10
              = m.name
            .tile.is-child.is-10
              = link_to '-', shopping_list_remove_meal_path(sl, id: sl.id, meal_id: m.id), method: :post, class: 'button is-small is-danger is-outlined'
              = sl.count_duplicate_meals(m)
              = link_to '+', shopping_list_add_meal_path(sl, id: sl.id, meal_id: m.id), method: :post, class: 'button is-small is-primary is-outlined'
