.container
  - @shopping_list.meals.each do |m|
    = m.name
    .panel
      %p.panel-heading
        Shopping List
      - @shopping_list.ingredients.each do |i|
        %label.panel-block
          %input{:type => "checkbox"}
            = i.name
            = i.amount
            = i.unit

  = link_to 'Edit', edit_shopping_list_path(@shopping_list)
