.container
  - @shopping_list.meals.each do |m|
    = m.name
    .panel
      %p.panel-heading
        Shopping List
      - @shopping_list.shopping_list_items.each do |sli|
        %label.panel-block
          %input{:type => "checkbox"}
            = sli.name
            = sli.amount
            = sli.unit







  = link_to 'Edit', edit_shopping_list_path(@shopping_list)
