= form_for @product, html: {class: 'ui form grid container'} do |f|
  - if @product.errors.any?
    #error-explanation
      %h2 #{pluralize(@product.errors.count, 'error')} prohibited this product
      from being saved:
      %ul
        - @product.errors.full_messages.each do |message|
          %li= message

  .column.sixteen.wide
    .field.name
      = f.label :name
      = f.text_field :name, id: :product_name
  .column.sixteen.wide
    .field.brand
      = f.label :brand
      = f.text_field :brand, id: :product_brand
  .column.sixteen.wide
    .ui.grid
      .two.column.row
        .field.eight.wide.column.amount
          = f.label :amount
          = f.text_field :amount, id: :product_amount
        .field.eight.wide.column.unit
          = f.label :unit
          = f.text_field :unit, id: :product_unit
  .column.sixteen.wide
    .field.price
      = f.label :price
      = f.text_field :price, id: :product_price
  .actions
    = f.submit class: 'ui button'
