.section
  .container
    .is-size-3
      Products

    %table.table.is-fullwidth
      %thead
        %tr
          %th Name
          %th Brand
          %th Size
          %th Price
          %th SMU Price
          %th Actions
      %tbody#products
        - @records.each do |product|
          %tr
            %th
              = link_to product.name.to_s, product
            %td
              = product.brand
            %td
              #{product.amount} #{product.unit}
            %td
              = humanized_money_with_symbol product.price
            %td
              #{humanized_money product.smu_price}p
            %td
              = link_to 'Edit', edit_product_path(product)
              |
              = link_to 'Delete',
                product,
                method: :delete,
                data: { confirm: 'Are you sure?' }

    = pagy_bulma_nav(@pagy).html_safe

= render partial: 'layouts/search', locals: {search_path: search_products_path, async_search_path: search_async_products_path, param_to_search_on: 'name', ransack_search_term: :name_cont} 

.section
  .container
    = link_to 'New Product', new_product_path, class: 'button is-link'
