.section
  .container
    .is-size-3
      Products

    %table.table.is-fullwidth
      %thead
        %tr
          %th Name
          %th Brand
          %th Size
          %th Price
          %th SMU Price
          %th Actions
      %tbody#products
        - @records.each do |product|
          %tr
            %th
              = link_to product.name.to_s, product
            %td
              = product.brand
            %td
              #{product.amount} #{product.unit}
            %td
              = humanized_money_with_symbol product.price
            %td
              #{product.smu_price}p
            %td
              = link_to 'Edit', edit_product_path(product)
              |
              = link_to 'Delete',
                product,
                method: :delete,
                data: { confirm: 'Are you sure?' }

    = pagy_bulma_nav(@pagy).html_safe

.container
  = search_form_for @q, url: search_products_path, html: { method: :post } do |f|
    .field.has-addons
      .control
        = f.search_field :name_cont, class: 'input', id: 'search'
      .actions
        = f.submit 'Search', class: 'button is-link'

.section
  .container
    = link_to 'New Product', new_product_path, class: 'button is-link'
