.container
  %h1 Listing products
  .columns.is-multiline
    - @products.each do |product|
      .column.is-4.name
        = link_to product.name.to_s, product
      .column.is-3.brand
        = product.brand
      .column.is-2.amount-unit
        #{product.amount} #{product.unit}
      .column.is-1.price
        = humanized_money_with_symbol product.price
      .column.is-2.actions
        = link_to 'Edit', edit_product_path(product)
        |
        = link_to 'Delete',
          product,
          method: :delete,
          data: { confirm: 'Are you sure?' }
  = link_to 'New Product', new_product_path
