%p#notice= notice

%p
  %strong Name:
  = @product.name
%p
  %strong Brand:
  = @product.brand
%p
  %strong Amount:
  #{@product.amount} #{@product.unit}
%p
  %strong Price:
  £#{@product.price_pence}

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Delete', @product, method: :delete,
                                data: { confirm: 'Are you sure?' }
\|
= link_to 'Back', products_path
