.container
  .title
    %h1
      = @product.name
  .brand
    %h2.has-text-weight-semibold Brand
    = @product.brand
  .amount
    %h2.has-text-weight-semibold Pack Size
    #{@product.amount} #{@product.unit}
  .price
    %h2.has-text-weight-semibold Price
    = humanized_money_with_symbol @product.price
  .actions
    = link_to 'Edit', edit_product_path(@product)
    |
    = link_to 'Delete',
      @product,
      method: :delete,
      data: { confirm: 'Are you sure?' }
