.container
  .section
    .card
      %header.card-header
        %p.card-header-title.name.is-size-3.is-centered
          =@product.name
        %a.card-header-icon{"aria-label" => "more options", :href => "#"}
          %span.icon
            %i.fas.fa-angle-down{"aria-hidden" => "true"}
      .card-content
        .content
          .columns
            .column.brand
              %p.title.title.is-4 Brand
              = @product.brand
            .column.pack-size
              %p.title.title.is-4 Pack Size
              #{@product.amount} #{@product.unit}
            .column.price
              %p.title.title.is-4 Price
              = humanized_money_with_symbol @product.price
            .column.smu
              %p.title.title.is-4 SMU Price
              #{@product.smu_price}p
      %footer.card-footer
        = link_to 'Edit', edit_product_path(@product), class: 'card-footer-item'
        = link_to 'Delete',
          @product,
          method: :delete,
          data: { confirm: 'Are you sure?' },
          class: 'card-footer-item'
